@tailwind utilities;

@layer utilities {
  .clip-circle-40 {
    clip-path: circle(40%);
  }
}

.runtime-arrow {
    @apply absolute bg-violet-400 w-2 h-16 -bottom-16;
}

.runtime-arrow > .arrow-head {
    @apply absolute bg-violet-400 w-4 h-4 top-16;
}

.host-arrow {
    @apply absolute bg-orange-400 w-2 h-16 -top-16;
}

.host-arrow > .arrow-head {
    @apply absolute bg-orange-400 w-4 h-4 bottom-16;
}

@font-face {
  font-family: Unbounded;
  src: url('/fonts/Unbounded-ExtraLight.ttf') format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: Unbounded;
  src: url('/fonts/Unbounded-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: Unbounded;
  src: url('/fonts/Unbounded-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: Unbounded;
  src: url('/fonts/Unbounded-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: Unbounded;
  src: url('/fonts/Unbounded-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: Unbounded;
  src: url('/fonts/Unbounded-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: Unbounded;
  src: url('/fonts/Unbounded-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: Unbounded;
  src: url('/fonts/Unbounded-Black.ttf') format('truetype');
  font-weight: 900;
}
