---
import Layout from "../layouts/Layout.astro";
---

<Layout title="PolkadotHub - Cursos">
  <main class="mx-auto space-y-12 p-12 text-black dark:text-white">
    <div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
      <h1 class="text-4xl font-bold mb-8 text-polkadot-red">
        Aprende A Desarrollar En Polkadot
      </h1>
      <p class="text-xl mb-8">
        PolkadotHub ofrece cursos en línea para desarrolladores que quieren
        aprender a construir aplicaciones blockchain en la red de Polkadot.
      </p>
      <h2 class="text-2xl font-bold mb-4">Cursos Disponibles</h2>
      <ul class="list-disc list-inside mb-8">
        <li class="text-lg">Rust</li>
        <li class="text-lg">Substrate</li>
        <li class="text-lg">Ink!</li>
      </ul>
      <h2 class="text-2xl font-bold mb-4">Modalidad</h2>
      <p class="text-xl mb-4">Los cursos disponen de dos modalidades:</p>
      <ul class="list-disc list-inside mb-8">
        <li class="text-lg mb-2">
          Autodidacta: se puede seguir el curso a ritmo propio, revisando la
          documentación disponible en la página web y visualizando los videos
          que se encuentran en el canal de YouTube.
        </li>
        <li class="text-lg">
          Con Seguimiento: Estar atentos a los anuncios publicados en Discord,
          donde se informará sobre la disponibilidad de modalidades con
          evaluación, office hours y certificadas.
        </li>
      </ul>
      <h2 class="text-2xl font-bold mb-4">¿Cómo inscribirse?</h2>
      <p class="text-lg mb-8">
        Actualmente se encuentran abiertas las inscripciones al curso de Rust.
        Simplemente completa nuestro <a
          href="link"
          class="text-polkadot-red font-bold hover:underline"
          >Formulario de Google</a
        > y aguarda instrucciones. ¡Hay cupos limitados!
      </p>
      <div>
        <a
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          >Inscribirse</a
        >
      </div>
      <h2 class="text-2xl font-bold mb-4 mt-12">Mas Información</h2>
      <ul class="list-disc list-inside mb-8">
        <li class="text-lg">
          <a href="https://discord.gg/ukp6jD6gsT" target="_blank">Discord</a>
        </li>
        <li class="text-lg">
          <a href="https://github.com/PolkadotHub/course-docs" target="_blank"
            >Github</a
          >
        </li>
      </ul>
    </div>
  </main>
</Layout>

<style>
  h1 {
    @apply text-3xl font-bold;
    @apply sm:text-5xl;
  }
  h2 {
    @apply text-2xl font-medium;
    @apply sm:text-3xl;
  }
  p,
  li {
    @apply text-lg;
  }
</style>
