---
import { navItems } from '../data/navItems.ts';
import { DarkModeButton } from './DarkModeButton.jsx';
---

<div class="hidden sm:flex space-x-8 items-center h-full">
  <a href="/substrate" class="h-full inline-block">
    <img src="/assets/polkadot-hub-logo.png" alt="Polkadot Hub" class="h-full p-2" />
  </a>
  {navItems.map((navItem) => (
  	<a href={navItem.href}>{navItem.text}</a>
  ))}
</div>
<div class="hidden sm:flex px-3 items-center">
	<DarkModeButton client:only />
</div>
