<div class="relative flex flex-col max-w-4xl mx-auto my-6">
  <div class="mb-8 grid grid-rows-3 sm:grid-rows-1 sm:grid-cols-3 gap-6 bg-violet-400 rounded-lg p-3">
    <!-- DIAGRAM -->
    <div class="relative flex justify-center items-center p-6 h-full">
      <div class="flex flex-col items-center">
        <p class="text-3xl font-bold text-violet-800">WASM Runtime</p>
        <img class="!m-0" src="/assets/wasm-icon.png" width="100">
      </div>
    </div>
    <div class="flex flex-col justify-center items-center p-6 rounded-lg shadow-md bg-violet-800 shadow-violet-600 h-full">
      <p class="text-2xl font-semibold m-auto text-violet-400">Pallets</p>
      <ul class="!list-none space-y-1 !m-0 text-xl">
        <li>Balances</li>
        <li>Uniques</li>
        <li>Custom</li>
        <li>Etc...</li>
      </ul>
    </div>
    <div class="flex flex-col items-center p-6 rounded-lg shadow-md bg-violet-800 shadow-violet-600 h-full">
      <p class="text-2xl font-semibold m-auto text-violet-400">Runtime API</p>
      <ul class="!list-none space-y-1 !m-0 text-xl">
        <li>Procesamiento de bloques</li>
        <li>Finalidad</li>
        <li>Transacciones</li>
        <li>Etc...</li>
      </ul>
    </div>
  </div>

  <div class="grid grid-rows-3 sm:grid-rows-1 sm:grid-cols-3 gap-6 bg-orange-400 rounded-lg p-3">
    <!-- DIAGRAM -->
    <div class="flex flex-col items-center p-6 rounded-lg shadow-md bg-orange-800 shadow-orange-600 h-full">
      <p class="text-2xl font-semibold w-full m-auto text-orange-400">Host functions</p>
      <ul class="!list-none !m-0 text-xl">
        <li>Criptografía</li>
        <li>Logging</li>
        <li>Almacenamiento</li>
        <li>Etc...</li>
      </ul>
    </div>
    <div class="flex flex-col items-center p-6 rounded-lg shadow-md bg-orange-800 shadow-orange-600 h-full">
      <p class="text-2xl font-semibold m-auto text-orange-400">Componentes</p>
      <ul class="!list-none space-y-1 !m-0 text-xl">
        <li>Libp2p</li>
        <li>Creador de bloques</li>
        <li>Base de datos</li>
        <li>Etc...</li>
      </ul>
    </div>
    <div class="relative flex justify-center items-center p-6 h-full">
      <div class="flex flex-col items-center">
        <p class="text-3xl font-bold text-orange-800">HOST</p>
        <img class="!m-0" src="/assets/ferris-hand.svg" width="150">
      </div>
    </div>
  </div>
</div>
