---
import { HamburgerMenu } from "../components/HamburgerMenu.jsx";
import DesktopMenu from "../components/DesktopMenu.astro";
import "../styles/global.css";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/assets/polkadot-hub-logo.png"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="dark:bg-purple-darkMode">
    <nav class="flex bg-pink justify-between h-12 items-center">
      <DesktopMenu />
      <HamburgerMenu client:only />
    </nav>
    <slot />
    <footer class="text-center lg:text-left bg-black/25">
      <div class="mx-6 py-10 text-center md:text-left">
        <div class="grid-1 grid gap-8 md:grid-cols-2 lg:grid-cols-3">
          <div class="">
            <h6
              class="mb-4 flex items-center justify-center font-semibold uppercase md:justify-start"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="mr-3 h-4 w-4"
              >
                <path
                  d="M12.378 1.602a.75.75 0 00-.756 0L3 6.632l9 5.25 9-5.25-8.622-5.03zM21.75 7.93l-9 5.25v9l8.628-5.032a.75.75 0 00.372-.648V7.93zM11.25 22.18v-9l-9-5.25v8.57a.75.75 0 00.372.648l8.628 5.033z"
                ></path>
              </svg>
              PolkadotHub Cursos
            </h6>
            <p>Conecta con nuestras redes para obtener mas información</p>
          </div>
          <div class="mx-auto">
            <h6
              class="mb-4 flex justify-center font-semibold uppercase md:justify-start"
            >
              Links
            </h6>
            <p class="mb-4">
              <a href="https://twitter.com/polkadothub" target="_blank"
                >Twitter</a
              >
            </p>
            <p class="mb-4">
              <a href="https://discord.gg/ukp6jD6gsT" target="_blank">Discord</a
              >
            </p>
            <p class="mb-4">
              <a
                href="https://github.com/PolkadotHub/course-docs"
                target="_blank">GitHub</a
              >
            </p>
          </div>
          <div>
            <h6
              class="mb-4 flex justify-center font-semibold uppercase md:justify-start"
            >
              Contacto
            </h6>
            <p class="mb-4 flex items-center justify-center md:justify-start">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="mr-3 h-5 w-5"
              >
                <path
                  d="M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z"
                ></path>
                <path
                  d="M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z"
                ></path>
              </svg>
              hola@polkadothub.io
            </p>
          </div>
        </div>
      </div>
      <div class="p-6 text-center">
        <span>© 2023 PolkadotHub</span>
      </div>
    </footer>
  </body>
</html>

<style is:global>
  html {
    @apply !font-unbounded;
  }
  span,
  h3,
  h4,
  h5,
  h6,
  p,
  li,
  a {
    @apply text-black dark:text-white;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>

<script>
  const isDarkMode = window.localStorage.getItem("dark");
  if (isDarkMode === null || isDarkMode === "true") {
    document.documentElement.classList.add("dark");
  } else {
    document.documentElement.classList.remove("dark");
  }
</script>
